*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin-top: 100px ;
    color: rgb(255, 24, 24);
    font-weight: bold;
    font-size: 20px;
}

body{
    background-color:bisque;
}

.textbox {
    width: 500px;
    height: 60px;
    border: 2px solid rgb(255, 2, 2);
    margin: 200px auto;
    padding: 15px 15px;
    font-size: 25px;
    border-radius: 10px 10px;
}